{% extends 'layout.html.twig' %}

{% block content %}
<main class="px-3">
    <p class="lead d-flex justify-content-center align-items-center cover-margin">
      <a href="/" class="btn btn-cover-cocktail fw-bold my-auto title-font">Entrer</a>
    </p>
</main>
{% endblock %}